@model ExperimentApp.Models.Participant
@Scripts.Render("~/Scripts/app.js")
@{
    ViewBag.Title = "Audio";
}


<p id="msg" style="display:none">@TempData["ErrorMessage"]</p>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragma" content="no-cache" charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body dir="rtl" lang="he" style="font-size:x-large">
    <br /><br /><br />
    <h1>ספר לנו על החוויה</h1>
    <br />
    <p>אנא שתף אותנו במשפט אחד או שניים בתחושותיך מהצפייה בסרטון או מהאירוע בו נזכרת. @*תוכל להיעזר במילים המופיעות מטה, כרצונך.*@ </p>
    <p>כשאתה מוכן, לחץ על "הקלט" ולסיום "עצור".</p>
    <p style="display:none">אנא השתדל לדבר בקול רם וברור @*ובסמוך למחשב*@.</p>
    <br />
    <div style="display:none">
        <center>
            <img width="1200" , src="~/Content/images/emotion_words.png">
        </center>
    </div>
    <br />
    <p id="rec_msg" disabled style="display:none">מקליט...</p>
    <div id="controls">
        <button id="recordButton">הקלט</button>
        <button id="pauseButton" disabled style="display:none">Pause</button>
        <button id="stopButton" disabled>עצור</button>
        <h1 id="fileName" style="display:none">@Model.AudioPath</h1>
    </div>
    <div id="formats" disabled style="display:none">Format: start recording to see sample rate</div>
    <h3 style="display:none" id="recordings">הקלטות:</h3>
    <ol id="recordingsList"></ol>


    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="~/Scripts/Recorder.js"></script>
    <script src="~/Scripts/app.js"></script>

</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    function myFunc() {
        window.location.href = '@Url.Action("FinishedAudioRecording", new { id = Model.ID })';
    }
    $(document).ready(function () {
        var error = @((TempData["ErrorMessage"] != null).ToString().ToLower());
        if (error) {
            alert(document.getElementById("msg").innerHTML);
        }
    });
</script>
