@model ExperimentApp.Models.Participant
@Scripts.Render("~/Scripts/app.js")
@{
    ViewBag.Title = "BaselineAudio";
}


<p id="msg" style="display:none">@TempData["ErrorMessage"]</p>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragma" content="no-cache" charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body dir="rtl" lang="he" style="font-size:x-large;" id="audio">
    <br /><br /><br />
    <center><h1>לפני שמתחילים</h1></center>
    <br />
    <p>על מנת לוודא שהמערכת עובדת כראוי, נבקשך להקליט את המשפט הבא:</p>
    <br />
    <p style="color:cornflowerblue"><b>"מערכת השמש נוצרה לפני כ־4.6 מיליארד שנה, והיא אחת משש הזרועות של גלקסיית שביל החלב."</b></p>
    <br />
    <p>לתחילת ההקלטה, יש ללחוץ "הקלט" ולסיום "עצור".</p>
    <br />
    <p id="rec_msg" disabled style="display:none">מקליט...</p>
    <div id="controls">
        <button id="recordButton">הקלט</button>
        <button id="pauseButton" disabled style="display:none">Pause</button>
        <button id="stopButton" disabled>עצור</button>
        <h1 id="fileName" style="display:none">@Model.AudioBaselinePath</h1>
    </div>
    <div id="formats" disabled style="display:none">Format: start recording to see sample rate</div>
    <h3 style="display:none" id="recordings">הקלטות:</h3>
    <ol id="recordingsList"></ol>


    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="~/Scripts/Recorder.js"></script>
    <script src="~/Scripts/app.js"></script>

</body>
</html>

<div id="Loading" style="display:none">
    <center>
        <h2 style="font-size:large"><br />אנא המתן מספר שניות.</h2>
        <img height="300" ; src="~/Content/Gifs/startLoad.gif">
    </center>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    function myFunc() {
        document.getElementById("audio").style.display = "none"
        document.getElementById("Loading").style.display = "block";
        window.location.href = '@Url.Action("FinishedBaselineAudioRecording", new { id = Model.ID })';
    }
    $(document).ready(function () {
        var error = @((TempData["ErrorMessage"] != null).ToString().ToLower());
        if (error) {
            alert(document.getElementById("msg").innerHTML);
        }
    });
</script>


