@model ExperimentApp.Models.Participant

@{
    ViewBag.Title = "Finish";
}

@{int keptUlt = Model.UltimatumReceivedSum - Model.UltimatumGaveSum;}
@{int keptTrust = Model.TrustReceivedSum - Model.TrustGaveSum;}

<div dir="rtl" lang="he" style="font-size:x-large">
    <h2>סיימת :)</h2>
    <p> אנו מודים לך על השתתפותך!</p>
    <p>נא לקרוא למפעיל הניסוי. אין לצאת מדף זה עד להגעתו!</p>
    <br />
    <p> תוצאות המשחקים שלך:</p>
    <p>במשחק הראשון, הצעת לשמור @keptUlt ש"ח אצלך ולתת לשחקן השני @Html.DisplayFor(model => model.UltimatumGaveSum) ש"ח. <b>השחקן השני הסכים להצעתך.</b></p>
    <p>במשחק השני, שמרת @keptTrust ש"ח ונתת לשחקן השני  @Html.DisplayFor(model => model.TrustGaveSum) ש"ח. <b>השחקן השני בחר לתת לך חזרה @Html.DisplayFor(model => model.TrustGotSum) ש"ח מתוך מה שהוא קיבל.</b> </p>
    <p style="font-size:xx-large;color:brown">סה"כ, סכום הכסף המגיע לך ממפעיל הניסוי הינו: @Html.DisplayFor(model => model.TotalAward) ש"ח.</p>
</div>

<div dir="rtl" lang="he" style="font-size:x-large">
    <br />
    <p>@Html.ActionLink("חזרה לדף הבית", "Index", "Home")</p>
</div>



